
* {
    font-family: "Myriad Pro", sans-serif;
}

body {
    background: rgb(15,110,255);
    background: linear-gradient(150deg, rgb(8, 119, 183) 20%, rgb(39, 43, 43) 60%);
}

#dragdrop-view {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: #0b2e13;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: left;
}

#dragdrop-view h2 {
    text-align: left;
    background: rgb(15,110,255);
    background: linear-gradient(150deg, rgb(39, 43, 43) 30%, rgb(8, 119, 183) 90%);
    color: #F89406;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
}

#dragdrop-view #drop {
    width: 98%;
    height: 78%;
    border: dashed 2px #888888;
    display: block;
    border-radius: 0px;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #AAAAAA;
    text-align: left;
    padding: 15px;
    padding-top: 0px;
    font-size: 22px;
    margin: 0px auto;
    overflow: hidden;
    overflow-y: auto;
    /*background-image: url("../img/carrinho.jpeg");
    background-position: top center;
    background-repeat: no-repeat;*/
}

#dragdrop-view #drop .div_item {
    width: 100%;
    font-size: 18px !important;
    border-bottom: solid #888888 1px;
    margin-top: 15px;
    padding-bottom: 15px;
    height: 100px;
    clear: both;
}

#dragdrop-view #drop .div_item p {
    float: left;
    width: auto;
    margin-left: 5px;
    padding-top: 30px;
}

#dragdrop-view #drop .div_item img {
    width: 76px;
    margin: 5px;
    float: left;
}

#dragdrop-view #drop_details {
    width: 98%;
    height: 10%;
    border: solid 1px #888888;
    display: block;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #AAAAAA;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    margin: 10px auto;
}

#dragdrop-view #drop_details .div_qtd_item {
    float: left;
}

#dragdrop-view #drop_details .div_sum_item {
    float: right;
}

#dragdrop-products {
    text-align: center;
    font-family: "Arial", "sans-serif";
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 10%;
    z-index: 2000;
    color: #F89406;
    background-color: #FEFEF0;
    overflow: hidden;
}

#dragdrop-products #div_item_container {
    height: 92%;
    overflow: hidden;
    overflow-y: auto;
}

#dragdrop-products h2 {
    text-align: center;
    background: rgb(15,110,255);
    background: linear-gradient(150deg, rgb(8, 119, 183) 60%, rgb(8, 119, 183) 20%);
    color: #F89406;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
}

#dragdrop-products .div_item {
    width: 96%;
    height: 100px;
    border: dashed #888888 1px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #0b2e13 !important;
    text-align: left;
    cursor: move;
}

#dragdrop-products .div_item:hover {
    background: #dca7a7;
    color: #a94442;
}

#dragdrop-products .div_item img {
    width: 76px;
    margin: 5px;
    float: left;
}

#dragdrop-products .div_item_details {
    padding: 5px;
}

#dragdrop-view-controls {
    text-align: center;
    font-family: "Arial", "sans-serif";
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;
    color: #F89406;
    background: rgb(15,110,255);
    background: linear-gradient(150deg, rgb(8, 119, 183) 20%, rgb(39, 43, 43) 60%);
}

#dragdrop-view-controls p {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: solid #FFFFFF 1px;
}

#dragdrop-view-controls .btn-black {
    background: #232323 !important;
    border: solid #000000 1px;
}

#dragdrop-view-controls .btn-silver {
    background: #8D8D8D !important;
    border: solid #545454 1px;
}

#dragdrop-view-alert {
    text-align: center;
    font-family: "Courier New";
    width: 100%;
    height: 20px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin: 10px auto;
}

#bt-stop {
    display: none;
}

#bt-start {
    display: block;
}

p {
    margin: 0px;
    padding: 0px;
}

select {
    color: #1C005A;
}

button {
    margin: 5px auto;
    width: 60%;
    height: 80px;
}

pre {
    /*width: 100%;
    height: 100%;
    overflow: auto;*/
    border: none !important;
    color: #3FD3CE;
    background-color: #222222;
}

.text-error {
    color: #FF0000;
}

#select-logs {
    width: 90%;
}

#box-conteiner-login {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    background: rgb(15,110,255);
    background: linear-gradient(154deg, rgb(8, 119, 183) 30%, rgb(39, 43, 43) 50%);
}

#login-box {
    color: #F89406;
    text-align: left;
    width: 35%;
    height: 65%;
    margin: 0px;
    padding: 2%;
    position: fixed;
    z-index: 1000;
    top: 15%;
    left: 32%;
    background-image: url("../img/box-login-back.png");
    background-repeat: repeat;
    border: solid #00FFFF 1px;
    border-radius: 10px;
}

#login-box input {
    width: 98%;
    background-color: #F1F1E3;
    color: #151515;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 15px auto;
}

#login-box .btn {
    display: block;
    width: 80px;
    margin: 10px auto;
}

#dragdrop-view-quit {
    text-align: center;
    font-family: "Arial", "sans-serif";
    width: 100%;
    height: 20px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin: 80px auto;
}

#a-quit {
    color: #FFFFFF;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

#div_container_bts {
    width: 350px;
    margin: 0px auto;
}

.bt-personalized-theme {
    background: #0b2e13 !important;
    color: #F89406 !important;
    padding: 15px !important;
    width: 150px !important;
    border: solid #F89406 1px !important;
    float: right;
}

.bt-personalized-default {
    background: #AAAAAA !important;
    color: #222222 !important;
    padding: 15px !important;
    width: 150px !important;
    border: solid #222222 1px !important;
    float: left;
}

#drop {
    width: 100%;
    height: 200px;
    border: dashed 2px #888888;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #AAAAAA;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    font-size: 22px;
}

#drop_login_ok {
    width: 100%;
    height: 200px;
    border: dashed 2px #888888;
    display: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #AAAAAA;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    font-size: 22px;

    background-image: url("../img/escudo-cadeado_24908-53003.jpeg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}

#drop_login_ok span {
    float: right;
    color: #BD362F;
    margin-right: 10px;
    width: 300px;
    text-align: right;
}

#drop_login_ok .span_erro {color: #BD362F;}

#drop_login_ok .span_ok {color: #3c763d;}

.file_sec_dragdrop {
    border: dashed 1px; !important;
}

.ajs-button {
    width: 40px !important;
}

.ajs-ok {
    width: 40px !important;
}

